<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/recipes">Recipes</a>
        </li>
        <li>
          <a *ngIf="!isAuthenticated" routerLinkActive="active" routerLink="/auth">Sign in</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/shopping-list">
            Shopping List
          </a>
        </li>
      </ul>
      <ul *ngIf="isAuthenticated" class="nav navbar-nav navbar-right">
        <li>
          <a style="cursor: pointer"> Logout {{ user.email }}</a>
        </li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle" role="button">
            Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer" (click)="saveData()">Save Data</a></li>
            <li><a style="cursor: pointer" (click)="loadData()"> Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
